.header {
  background: var(--primary);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 63.8px);
  padding: 0 1rem;
  text-align: center;
}

.header__titles {
  padding-bottom: 3rem;
}

.header__title {
  padding-bottom: 0.3rem;
}

.header__description {
  font-size: var(--font-s);
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .header__description {
    margin: 0 auto;
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .header {
    height: calc(100vh - 74.8px);
  }
}
