.menu-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  padding: 0.8rem 1rem;
  transition: all 0.5s;
}

.bar1,
.bar2,
.bar3 {
  background: black;
  height: 5px;
  width: 35px;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

@media (min-width: 992px) {
  .menu-icon {
    display: none;
  }
}
