.nav-container {
  height: 63.8px;
  width: 100%;
  overflow: visible;
  position: fixed;
  top: 0;
  z-index: 2;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-dark);
  height: 63.8px;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.nav-home {
  height: 63.8px;
  padding: 0.35rem 1rem;
  text-decoration: none;
  transition: all 0.5s;
}

.nav-home__title {
  font-size: var(--font-m);
  padding-bottom: 0.3rem;
}

.nav-home__subtitle {
  font-size: var(--font-xs);
}

@media (min-width: 992px) {
  .nav-container {
    height: 74.8px;
    overflow: hidden;
  }

  .nav-home {
    padding: 0.5rem 1rem;
    height: 74.8px;
  }

  .nav {
    height: 74.8px;
  }
}
