.portfolio {
  background: orange;
  padding: 63.8px 1rem 1rem;
  text-align: center;
}

.project__image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.project-description {
  font-size: var(--font-xs);
}

@media (min-width: 992px) {
  .portfolio {
    padding: 74.8px 1rem 0;
  }
}
