.button {
  background: var(--secondary);
  display: inline-block;
  font-size: var(--font-xs);
  height: 50px;
  margin: 0 auto;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
}

.button--right-margin {
  margin-right: 36px;
}

.menu-icon:hover,
.nav-list__link:hover,
.nav-list__link:active,
.is-active,
.button:hover {
  border-bottom: 5px solid var(--secondary);
  box-shadow: inset 0 -5rem 0 0 var(--primary-light);
}

.nav-home:active,
.menu-icon:focus,
.menu-icon:active,
.button:active {
  border: 2px groove var(--secondary);
  box-shadow: inset 0 -5rem 0 0 var(--primary-light);
  outline: 0;
}

.nav-home:focus,
.nav-list__link:focus {
  border: 2px groove var(--secondary);
  outline: 0;
}

.button:focus {
  outline: 2px groove var(--secondary);
  box-shadow: inset 0 -5rem 0 0 var(--primary-light);
}

.portfolio-course__title-link:focus,
.project__fork-link:focus,
.contacts__icon:focus {
  outline: 2px groove var(--secondary);
}
